export JPD_PROTOCOL="https" 
export JPD_DOMAIN="my.jfrog.io"
export MASTER_KEY=$(openssl rand -hex 32)
export JOIN_KEY=$(openssl rand -hex 32)
export POSTGRES_PASSWORD=$(openssl rand -hex 12)
export ADMIN_PASSWORD=$(openssl rand -hex 8)
export ADMIN_USERNAME="admin"
